@font-face {
  font-family: "Montserrat-Regular";
  src: url("res/fonts/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("res/fonts/static/Montserrat-Black.ttf") format("truetype");
}

body {
  background-image: url("res/img/equations.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Montserrat-Regular";
  color: rgb(38, 3, 46);
}

button {
  color: white !important;
  background-color: rgb(38, 3, 46) !important;
  border-color: rgb(195, 131, 255) !important;
}

footer {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white, 0px 1px 0 white, 1px 0px 0 white, 0px -1px 0 white,
    -1px 0px 0 white;
}

.bg-light-purple {
  background-color: rgb(242, 231, 253) !important;
}

.w-28 {
  width: 28% !important;
}

.web-name {
  font-family: "Montserrat-Black";
  text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white,
    3px 3px 0 white, 0px 3px 0 white, 3px 0px 0 white, 0px -3px 0 white,
    -3px 0px 0 white;
}

table {
  border-color: rgb(231, 205, 255) !important;
}

.table > thead > tr > th {
  background-color: rgb(222, 198, 247) !important;
}
